@model ApplicationDto
@{
    var x = @Html.EasyUi();
}
@*脚本*@
<script type="text/javascript">
    function SetCheckedApplication(data) {       
        //角色列表成功加载回调，根据Checked属性选中行的复选框
        if (data) {
            $.each(data.rows, function (index, item) {
                if (item.Checked) {
                    $("#grid").datagrid('checkRow', index);
                }
            });
        }
    }
</script>
@*表格*@
@(x.Grid("grid").Sort("CreateTime").Toolbar("divQuery").Url("/systems/application/QueryByTenant?tenantId=" + Model.TenantId)
            .FitColumns().Fit().OnLoadSuccess("SetCheckedApplication")
        .Columns(
            x.GridColumn(t => t.Id).CheckBox(),
            x.GridColumn(t => t.Code, 150),
            x.GridColumn(t => t.Name, 200,true),
            x.GridColumn(t => t.Enabled, 60),
            x.GridColumn(t => t.CreateTime, 200).Sort(),
            x.GridColumn(t => t.Note, 550)
        )
      )
@Html.AntiForgeryToken()
<div id="dialogButtons">
    @x.Button("保 存").Icon("icon-save").Width(90).SubmitIdsByGrid("/systems/tenant/saveApplicationInTenant?tenantId=" + Model.TenantId)
    @x.DialogButton("关 闭").Icon("icon-cancel").Width(90).CloseDialog()
</div>



